// 修改样式变量
$vxe-font-size: 14px;
$vxe-font-color: #ffffff;
$vxe-primary-color: #409eff;

$vxe-table-header-background-color: #35495E;
$vxe-table-border-color: #727f8e;
$vxe-table-background-color: #42b983;

$vxe-table-row-hover-background-color: #86cead;