// 修改样式变量
$vxe-font-size: 14px;
$vxe-font-size-medium: 14px;
$vxe-font-size-small: 13px;
$vxe-font-size-mini: 12px;

$vxe-table-row-height-default: 48px;
$vxe-table-row-height-medium: 44px;
$vxe-table-row-height-small: 40px;
$vxe-table-row-height-mini: 36px;

$vxe-table-row-line-height: 24px;

$vxe-font-color: #ffffff;
$vxe-primary-color: #409eff;

$vxe-table-header-background-color: #35495E;
$vxe-table-border-color: #727f8e;
$vxe-table-background-color: #42b983;

$vxe-table-row-hover-background-color: #86cead;