.black-theme {
  @import 'vxe-table/styles/variable.scss';

  $vxe-font-color: #98989E;
  $vxe-primary-color: #2C7ECF;

  $vxe-icon-background-color: #98989E;

  $vxe-table-font-color: #98989E;
  $vxe-table-resizable-color: #95969a;
  $vxe-table-header-background-color: #28282A;
  $vxe-table-body-background-color: #151518;
  $vxe-table-background-color: #4a5663;
  $vxe-table-row-hover-background-color: lighten(#333232, 10%);
  $vxe-table-row-checked-background-color: lighten(#333232, 5%);
  $vxe-table-border-width: 1px;
  $vxe-table-border-color: #37373A;

  @import 'vxe-table/styles/modules.scss';
}