.red-theme {
  @import 'vxe-table/styles/variable.scss';

  $vxe-font-color: #333;
  $vxe-primary-color: #F56C6C;
  $vxe-table-header-background-color: #fdf3f3;
  $vxe-table-row-hover-background-color: #fde3e3;
  $vxe-table-border-width: 1px;
  $vxe-table-border-color: #d4d4d4;

  @import 'vxe-table/styles/modules.scss';
}